<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poseidon</title>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for(endpoint='static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for(endpoint='static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for(endpoint='static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for(endpoint='static', filename='images/site.webmanifest') }}">

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
            $('.select-dropdown').addClass('white-text');
            $('.dropdown-content').css('background', '#191c1d');
        });
    </script>

    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/main.css') }}">
</head>

<body>
<div class="card container">
    <div class="card-title">
        <img class="responsive-img"
             src="https://raw.githubusercontent.com/The-SCRIPT-Group/Media-Kit/master/LogoTransp2.png" alt="">
    </div>
    <div class="card-content row">
        <form action="" method="POST" class="col s12" id="reg-form">
            <div class="row">
                <div class="input-field">
                    <input id="username" name="username" type="text" class="white-text" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="password" name="password" type="password" class="white-text" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select id="page" name="page" required>
                        <option value="attendance" selected>Attendance</option>
                        <option value="timetable">Timetable</option>
                        <option value="fees">Fees</option>
                        <option value="miscellaneous">Miscellaneous</option>
                    </select>
                    <label id="page-label" for="page">Select page to view</label>
                </div>
            </div>
            <div class="input-field"
                 style="margin-left: auto; margin-right: auto; width: fit-content; width: -moz-fit-content;">
                <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action"
                        style="margin-left: auto; margin-right: auto">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>